In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('H:\ML-algo/echocardiogram.csv')
df.columns = ['survival', 'still-alive', 'age-at-heart-attack', 'pericardial-effusion',
             'fractional-shortening', 'epss', 'lvdd', 'wall-motion-score', 'wall-motion-index',
             'mult', 'name', 'group', 'alive_at_1']
print(df.head())
print(df.shape)

  survival still-alive age-at-heart-attack  pericardial-effusion  \
0       19           0                  72                     0
1       16           0                  55                     0
2       57           0                  60                     0
3       19           1                  57                     0
4       26           0                  68                     0

  fractional-shortening    epss   lvdd wall-motion-score wall-motion-index  \
0                  0.38       6    4.1                14               1.7
1                  0.26       4   3.42                14                 1
2                 0.253  12.062  4.603                16              1.45
3                  0.16      22   5.75                18              2.25
4                  0.26       5   4.31                12                 1

    mult  name group alive_at_1
0  0.588  name     1          0
1      1  name     1          0
2  0.788  name     1          0
3  0.571  name     1          0
4  0.857  name     1          0
(131, 13)

In [2]:
df.isnull().sum()

survival                 1
still-alive              0
age-at-heart-attack      0
pericardial-effusion     0
fractional-shortening    0
epss                     0
lvdd                     0
wall-motion-score        0
wall-motion-index        0
mult                     0
name                     0
group                    0
alive_at_1               0
dtype: int64

In [3]:
df1 = df.replace('?', np.NaN)
df1

,survival,still-alive,age-at-heart-attack,pericardial-effusion,fractional-shortening,epss,lvdd,wall-motion-score,wall-motion-index,mult,name,group,alive_at_1
0,19,0,72,0,0.38,6,4.1,14,1.7,0.588,name,1,0
1,16,0,55,0,0.26,4,3.42,14,1,1,name,1,0
2,57,0,60,0,0.253,12.062,4.603,16,1.45,0.788,name,1,0
3,19,1,57,0,0.16,22,5.75,18,2.25,0.571,name,1,0
4,26,0,68,0,0.26,5,4.31,12,1,0.857,name,1,0
5,13,0,62,0,0.23,31,5.43,22.5,1.875,0.857,name,1,0
6,50,0,60,0,0.33,8,5.25,14,1,1,name,1,0
7,19,0,46,0,0.34,0,5.09,16,1.14,1.003,name,1,0
8,25,0,54,0,0.14,13,4.49,15.5,1.19,0.93,name,1,0
9,10,1,77,0,0.13,16,4.23,18,1.8,0.714,name,1,1
10,52,0,62,1,0.45,9,3.6,16,1.14,1.003,name,1,0
11,52,0,73,0,0.33,6,4,14,1,1,name,1,0
12,44,0,60,0,0.15,10,3.73,14,1,1,name,1,0
13,0.5,1,62,0,0.12,23,5.8,11.67,2.33,0.358,name,1,1
14,24,0,55,1,0.25,12.063,4.29,14,1,1,name,1,0
15,0.5,1,69,1,0.26,11,4.65,18,1.64,0.784,name,1,1
16,0.5,1,62.529,1,0.07,20,5.2,24,2,0.857,name,1,1
17,22,1,66,0,0.09,17,5.819,8,1.333,0.429,name,1,0
18,1,1,66,1,0.22,15,5.4,27,2.25,0.857,name,1,1
19,0.75,1,69,0,0.15,12,5.39,19.5,1.625,0.857,name,1,1
20,0.75,1,85,1,0.18,19,5.46,13.83,1.38,0.71,name,1,1
21,0.5,1,73,0,0.23,12.733,6.06,7.5,1.5,0.36,name,1,1
22,5,1,71,0,0.17,0,4.65,8,1,0.57,name,1,1
23,48,0,64,0,0.19,5.9,3.48,10,1.11,0.64,name,2,NaN
24,29,0,54,0,0.3,7,3.85,10,1.667,0.43,name,2,NaN
25,29,0,35,0,0.3,5,4.17,14,1,1,name,2,NaN
26,29,0,55,0,NaN,7,NaN,2,1,2,name,2,NaN
27,0.25,1,75,0,NaN,NaN,NaN,NaN,1,NaN,name,2,NaN
28,36,0,55,1,0.21,4.2,4.16,14,1.56,0.64,name,2,0
29,1,1,65,0,0.15,NaN,5.05,10,1,0.71,name,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,22,0,70,0,0.38,0,4.55,10,1,0.714,name,2,0
102,25,0,62,0,0.258,11.8,4.87,11,1,0.786,name,2,NaN
103,1.25,1,63,0,0.3,6.9,3.52,18.16,1.51,0.857,name,2,1
104,24,0,59,0,0.17,14.3,5.49,13.5,1.5,0.643,name,2,0
105,25,0,57,0,0.228,9.7,4.29,11,1,0.786,name,2,0
106,24,0,57,0,0.036,7,4.12,13.5,1.23,0.786,name,2,NaN
107,0.75,1,78,0,0.23,40,6.23,14,1.4,0.714,name,2,1
108,3,1,62,0,0.26,7.6,4.42,14,1,1,name,2,1
109,27,0,62,0,0.22,12.1,3.92,11,1,0.785,name,NaN,NaN
110,13,0,66,0,0.24,13.6,4.38,22,2.2,0.714,name,NaN,NaN
111,36,0,61,0,0.27,9,4.06,12,1,0.857,name,NaN,NaN
112,25,0,59,1,0.4,9.2,5.36,12,1,0.857,name,NaN,NaN
113,27,0,57,0,0.29,9.4,4.77,9,1,0.64,name,NaN,NaN
114,34,0,62,1,0.19,28.9,6.63,19.5,1.95,0.714,name,NaN,NaN
115,37,0,NaN,0,0.26,0,4.38,9,1,0.64,name,NaN,NaN
116,34,0,54,0,0.43,9.3,4.79,10,1,0.714,name,NaN,NaN
117,28,1,62,1,0.24,28.6,5.86,21.5,1.95,0.786,name,NaN,NaN
118,28,0,NaN,0,0.23,19.1,5.49,12,1.2,0.71,name,NaN,NaN
119,17,0,64,0,0.15,6.6,4.17,14,1.27,0.786,name,NaN,NaN
120,38,0,57,1,0.12,0,2.32,16.5,1.375,0.857,name,NaN,NaN
121,31,0,61,0,0.18,0,4.48,11,1.375,0.57,name,NaN,NaN
122,12,0,61,1,0.19,13.2,5.04,19,1.73,0.786,name,NaN,NaN
123,36,0,48,0,0.15,12,3.66,10,1,0.714,name,NaN,NaN
124,17,0,NaN,0,0.09,6.8,4.96,13,1.08,0.857,name,NaN,NaN
125,21,0,61,0,0.14,25.5,5.16,14,1.27,0.786,name,NaN,NaN
126,7.5,1,64,0,0.24,12.9,4.72,12,1,0.857,name,NaN,NaN
127,41,0,64,0,0.28,5.4,5.47,11,1.1,0.714,name,NaN,NaN
128,36,0,69,0,0.2,7,5.05,14.5,1.21,0.857,name,NaN,NaN
129,22,0,57,0,0.14,16.1,4.36,15,1.36,0.786,name,NaN,NaN
130,20,0,62,0,0.15,0,4.51,15.5,1.409,0.786,name,NaN,NaN

In [4]:
print(df1.isnull().sum())
print(df1.shape)

survival                  2
still-alive               1
age-at-heart-attack       6
pericardial-effusion      0
fractional-shortening     8
epss                     15
lvdd                     11
wall-motion-score         4
wall-motion-index         2
mult                      3
name                      1
group                    22
alive_at_1               57
dtype: int64
(131, 13)

In [5]:
df2 = df1.dropna()
print(df2.shape)
print(df2.isnull().sum())

(60, 13)
survival                 0
still-alive              0
age-at-heart-attack      0
pericardial-effusion     0
fractional-shortening    0
epss                     0
lvdd                     0
wall-motion-score        0
wall-motion-index        0
mult                     0
name                     0
group                    0
alive_at_1               0
dtype: int64

In [6]:
df2.head()

,survival,still-alive,age-at-heart-attack,pericardial-effusion,fractional-shortening,epss,lvdd,wall-motion-score,wall-motion-index,mult,name,group,alive_at_1
0,19,0,72,0,0.38,6,4.1,14,1.7,0.588,name,1,0
1,16,0,55,0,0.26,4,3.42,14,1,1,name,1,0
2,57,0,60,0,0.253,12.062,4.603,16,1.45,0.788,name,1,0
3,19,1,57,0,0.16,22,5.75,18,2.25,0.571,name,1,0
4,26,0,68,0,0.26,5,4.31,12,1,0.857,name,1,0

In [7]:
df2.drop('name',axis=1, inplace=True)
print(df2.shape)
df2.head()

(60, 12)

C:\Users\PREETHAM REDDY\Anaconda new\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,survival,still-alive,age-at-heart-attack,pericardial-effusion,fractional-shortening,epss,lvdd,wall-motion-score,wall-motion-index,mult,group,alive_at_1
0,19,0,72,0,0.38,6,4.1,14,1.7,0.588,1,0
1,16,0,55,0,0.26,4,3.42,14,1,1,1,0
2,57,0,60,0,0.253,12.062,4.603,16,1.45,0.788,1,0
3,19,1,57,0,0.16,22,5.75,18,2.25,0.571,1,0
4,26,0,68,0,0.26,5,4.31,12,1,0.857,1,0

In [8]:
# preparing data for training

X = df2.drop('alive_at_1', axis=1)
y = df2['alive_at_1']

print(X.shape)
print(y.shape)

(60, 11)
(60,)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=0)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

log = LogisticRegression()
log.fit(X_train, y_train)

y_pred = log.predict(X_test)

print(accuracy_score(y_test, y_pred))

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

sc1 = sc.fit(X_train)
sc2 = sc.fit(X_test)

X_train = sc1.transform(X_train)
X_test = sc2.transform(X_test)

In [ ]:
log.fit(X_train, y_train)

y_pred = log.predict(X_test)

print(accuracy_score(y_test, y_pred))